<body>
  <h1>Passport/RethinkDB Example</h1>
{{#user}}
  <img style='width: 100px; height: 100px;' src='{{ avatarUrl }}'>
  <p>You are logged in as <span style="font-weight: bold;">{{ login }}</span>. Account created through <span style="font-weight: bold;">{{ type }}</span>.</p>
  <a href='/auth/user'>See user data</a>
  </br>
  <a href='/auth/logout'>Logout</a>
{{/user}}
{{^user}}
  <p>You are not logged in.</p>
  <a href='/auth/login/github'>Login with GitHub</a>
  </br>
  <a href='/auth/login/twitter'>Login with Twitter</a>
{{/user}}
<br><br>
<button id="post-button">POST</button>
<script>
document.getElementById('post-button')
    .addEventListener('click', e => {
      var req = new XMLHttpRequest();
      req.onreadystatechange = (() => {
        console.log(req.readyState || 'no readyState',
                    req.status || 'no status',
                    req.responseText || 'no responseText');
        var div = document.createElement('div');
        div.innerHTML = "* readyState: " + (req.readyState || 'none') +
                        ', status: ' + (req.status || 'none') +
                        ', responseText: ' + (req.responseText || 'none');
        document.body.appendChild(div);
      });
      req.open('POST', 'https://127.0.0.1:9000/', true);
      req.setRequestHeader('Content-Type', 'application/json');
      req.withCredentials = true;
      req.send(JSON.stringify({hi : 'there!'}));
    })
</script>
</body>
